/* Grid */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0px;
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 50%;
}

@media (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* End grid */

body {
  margin: 0;
  height: 0;
  font-family: 'Droid+Sans', 'Arial';
  font-weight: 300;
  background-color: black;
}
.cover {
  width: 100% !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
}
.big-image {
  height: 740px;
  background: url(img/scene.jpg) no-repeat center fixed;
}
.header-wrapper {
  width: 100%;
  background-color: rgba(17, 17, 17, .7);
  color: white;
}
header, h1, h2, h3 {
  font-family: 'Oswald', 'Helvetica', arial, sans-serif;
}
header {
  padding: 20px 50px;
  line-height: 1.2em;
  font-weight: 400;
  font-size: 1.4em;
}
header h1 {
  float: left;
  letter-spacing: 2px;
  margin-right: 2em;
}
header ul {
  list-style-type: none;
  float: left;
  position: relative;
  bottom: -3px;
  padding-left: 0;
}
header ul li {
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-right: 1.5em;
}
header a {
  color: #ccc;
  text-decoration: none;
}
header a:hover {
  color: white;
}
.social {
  float: right;
  font-size: 1.2em;
}
header .social ul {
  bottom: 2px;
}
header .social ul li {
  margin-left: 6px;
  margin-right: 0;
}


.featured-video {
  margin: auto;
  max-width: 840px;
  width: 80%;
  padding-top: 30px;
}
#featured-video-inner {
  height: 472px;
  background: url(img/play.png) black no-repeat center;
  opacity: 0.3;
  cursor: pointer;
}
#youtube-video {
  display: none;
}

.clear {
  clear: both;
}
.bar { border-top: 2em black solid; }
.wrapper {
  padding: 4em 0;
}
.concerts-wrapper {
  background: url(img/empty.jpg) no-repeat center;
}
.inner {
  margin: auto;
  max-width: 800px;
}
.concerts {
  padding: 2em;
  background-color: rgba(250, 250, 250, .8);
}
.white-wrapper {
  background-color: #eee;
}
.inner-black {
  padding: 2em;
  background-color: rgba(0, 0, 0, .85);
  color: #eee;
  font-size: 0.9em;
  line-height: 1.8em;
}
.inner-white {
  padding: 2em;
}

.inner-black a {
  color: #efefef;
}

.inner-white a {
  color: #333;
}

.musiciens-wrapper {
  background: url(img/musiciens.jpg) no-repeat top center;
}
.musiciens-wrapper ul { list-style-type: none; padding-left: 0; }
.musiciens-wrapper strong {
  font-family: 'Oswald', 'Helvetica', arial, sans-serif;
  font-size: 120%;
  letter-spacing: 1px;
}
.musiciens-wrapper li { padding: 0.4em }

.concept-wrapper {
  background: url(img/pink.jpg) no-repeat top center;
}
.copyright {
  width: 100%;
  background-color: black;
  color: #666;
  text-align: center;
  font-size: x-small;
  margin: 1.2em 0;
}
.copyright a {
  color: #666;
}