<div class="social">
  <ul>
  	<li><a href="https://www.youtube.com/c/KABofficiel" class="icon-link icon-youtube" title="Regardez KAB sur Youtube"></a></li>
    <li><a href="https://soundcloud.com/kabofficiel" class="icon-link icon-soundcloud" title="Écoutez KAB sur Soundcloud"></a></li>
    <li><a href="https://facebook.com/kabofficiel" class="icon-link icon-facebook" title="Suivez KAB sur Facebook"></a></li>
    <!-- <li><a href="https://twitter.com/intent/follow?screen_name=KabaretOfficiel" class="icon-link icon-twitter" title="Suivez Kabaret sur Twitter"></a></li> -->
    <!-- <li><a href="mailto:contact@kabaretmusic.fr" class="icon-link icon-envelope" title="Contactez le groupe par mail"></a></li> -->
  </ul>
</div>