<div class="social">
  <ul>
  	<li><a href="https://www.youtube.com/user/KabaretOfficiel/videos" class="icon-link icon-youtube" title="Regardez Kabaret sur Youtube"></a></li>
    <li><a href="https://soundcloud.com/KabaretOfficiel" class="icon-link icon-soundcloud" title="Écoutez Kabaret sur Soundcloud"></a></li>
    <li><a href="https://facebook.com/kabaretofficiel" class="icon-link icon-facebook" title="Suivez Kabaret sur Facebook"></a></li>
    <li><a href="https://twitter.com/intent/follow?screen_name=KabaretOfficiel" class="icon-link icon-twitter" title="Suivez Kabaret sur Twitter"></a></li>
    <!-- <li><a href="mailto:contact@kabaretmusic.fr" class="icon-link icon-envelope" title="Contactez le groupe par mail"></a></li> -->
  </ul>
</div>